CONTAINER_UID=1000
CONTAINER_GID=1000
DICKORD_CONFIG_FILE=./config/dickord.json
RDIRCD_CONFIG_FILE=./config/rdircd.ini
DISCORD_SECRET_FILE=./secrets/discord.ini
ERGO_SASL_SECRET_FILE=./secrets/ergo-sasl
ERGO_OPER_SECRET_FILE=./secrets/ergo-oper
